.attribution { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 11px; 
    text-align: center; 
    margin: .2rem .5rem;
    color: $very-dark-grayish-cyan; 

    a { 
        color: $very-dark-grayish-cyan; 
        text-decoration: underline;

        &:hover {
            color: $desaturated-dark-cyan;
        }
    }
}