<!-- Import the header section -->
<%- include("./header"); %>

<main class="container">
  <div class="filter_container">
    <div class="selected_languages">
      <div class="language_style">
        <span class="language_name">
          Frontend
        </span>
        <div class="cross_img">
          <img src="/images/icon-remove.svg" alt="Remove Icon">
        </div>
      </div>
      <div class="language_style">
        <span class="language_name">
          Senior
        </span>
        <div class="cross_img">
          <img src="/images/icon-remove.svg" alt="Remove Icon">
        </div>
      </div>
      <div class="language_style">
        <span class="language_name">
          HTML
        </span>
        <div class="cross_img">
          <img src="/images/icon-remove.svg" alt="Remove Icon">
        </div>
      </div>
      <div class="language_style">
        <span class="language_name">
          CSS
        </span>
        <div class="cross_img">
          <img src="/images/icon-remove.svg" alt="Remove Icon">
        </div>
      </div>
      <div class="language_style">
        <span class="language_name">
          React
        </span>
        <div class="cross_img">
          <img src="/images/icon-remove.svg" alt="Remove Icon">
        </div>
      </div>
      <div class="language_style">
        <span class="language_name">
          Java
        </span>
        <div class="cross_img">
          <img src="/images/icon-remove.svg" alt="Remove Icon">
        </div>
      </div>
    </div>

    <div class="clear_btn">
        Clear
    </div>
  </div>

  <div class="card_container">
    <img src="/images/photosnap.svg" alt="Company Logo">

    <div class="company">
      <h3 class="company_name">Photosnap</h3>

      <div class="quality">
        <span class="recently_added">NEW!</span>
        <span class="recently_featured">FEATURED</span>
      </div>
    </div>

    <div class="job_title">
      <h2>
        <a href="#">Senior Frontend Developer</a>
      </h2>
    </div>

    <div class="job_attributes">
      <span>1d ago</span>
      <span class="dot"></span>
      <span>Full Time</span>
      <span class="dot"></span>
      <span>USA only</span>
    </div>
    
    <hr class="line_break">

    <div class="job_languages">
      <span>Frontend</span>
      <span>Senior</span>
      <span>HTML</span>
      <span>CSS</span>
      <span>JavaScript</span>
    </div>
  </div>
</main>


<!-- Import the footer section -->
<%- include("./footer"); %>